@font-face {
	font-family: "Raleway";
	/* src: url('fonts/Raleway/static/Raleway-Regular.ttf') format('truetype'); */
	src: url('fonts/Raleway/variable/Raleway-VariableFont_wght.ttf') format('woff2-variations');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Rancho";
	/* src: url('fonts/Raleway/static/Raleway-Regular.ttf') format('truetype'); */
	src: url('fonts/Rancho/static/Rancho-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	font-size: 62.5%;
}

body {
	font-family: Raleway;
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	align-items: stretch;
	margin: 0 0 0 0;

}

/* Header DEBUT*/

header {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	/* margin-left: 2rem; */
	/* margin-right: 2rem; */
	/* padding: 0 2rem 0 2rem; */
	/* width: 32rem; */
}


/* Header FIN*/



/* #titre_general DEBUT*/

#titre_general {
	font-family: Rancho;
	font-size: 4rem;
	font-weight: bold;
	font-style: normal;
	text-decoration: wavy;
	color: #0065FC;
	position: relative;
	margin-left: 1rem;
	flex: 3;

}


#inscription {
	font-family: Raleway;
	font-size: 1.5rem;
	position: static;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #0065FC;
	/* margin-right: 2rem; */
	/* margin-left: 2rem; */
	margin-right: 3rem;
	margin-left: 12rem;
	align-self: center;
}

#inscription:link {
	text-decoration: none;
}

#inscription:hover {
	text-decoration: none;
	/* border: 5px solid pink; */

}

#inscription:visited {
	text-decoration: none;
}

#inscription:active {
	text-decoration: none;
}


/* .titres FIN*/



/* #liens DEBUT*/

/* #liens {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

} */

.lien_border {
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
	/* border: 5px solid green; */
	display: flex;
	justify-content: center;
	flex: 1;
	padding-bottom: 1em;
	border-bottom: 2px solid #F2F2F2;
	padding-top: 4.7rem;


}


.lien_border:link {
	text-decoration: none;
	color: black;
	/* border: 5px solid green; */


}

.lien_border:visited {
	text-decoration: none;
	color: black;
}

.lien_border:hover {
	font-weight: bold;
	text-decoration: none;
	color: #0065FC;
	border-bottom: 2px solid #0065FC;
	/* border: 5px solid green; */
}

.lien_border:active {
	text-decoration: none;
}

/* .liens FIN*/


/*recherche DEBUT */

#recherche {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	/* margin-left: 1rem; */
	max-width: 100%;
	/* width: 100%; */
	padding: 2rem 2rem 0 2rem;
}

#recherche h2 {
	font-size: 1.9rem;
	font-weight: 900;
	color: black;
}

#recherche h3 {
	font-weight: normal;
	font-size: 1.5rem;

}


#marqueur {
	width: 15px;
	height: 15px;
	padding: 19px 19px 19px 19px;
	background-color: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 30% 10% 10% 30%;

}

#barre_recherche_et_logos {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

#barre_recherche {
	max-width: 23rem;
	font-family: Raleway;
	font-size: 16px;
	font-weight: bold;
	padding: 1.5rem 0 1.5rem 0;
	border-color: #F2F2F2;
}


.loupe {
	left: 25rem;
	position: absolute;
	width: 2rem;
	height: 2rem;
	padding: 17px 17px 17px 17px;
	background-color: #0065FC;
	border: 1px solid #0065FC;
	border-radius: 30%;
}

#loupe_icone {
	display: flex;
}

#loupe_texte {
	display: none;
}



#filtres h2 {
	font-size: 1.8rem;
	font-weight: bold;
}

.liste_filtres {
	display: flex;
	flex-flow: row wrap;
}

.elem_filtre {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	border: 2px solid #F2F2F2;
	border-radius: 40px 40px 40px 40px;
	margin: 0 1rem 1rem 0;
}

.elem_filtre:hover {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	border: 2px solid #F2F2F2;
	border-radius: 40px 40px 40px 40px;
	margin: 0 1rem 1rem 0;
	background-color: #9edbfa;
}

.elem_filtre a {
	font-size: 1.5rem;
	padding: 0.4rem 1.2rem 0.4rem 1.2rem;
	text-decoration: none;
	font-weight: bold;
}

/* .elem_filtre a:hover {
	padding: 0.4rem 1.2rem 0.4rem 1.2rem;
	text-decoration: underline;
	font-weight: bold;
} */

.elem_filtre a:visited {
	text-decoration: none;
	color: black;
	font-weight: bold;

}


.liste_filtres img {
	width: 25px;
	height: 25px;
	border: 1px solid #DEEBFF;
	padding: 15px 15px 15px 15px;
	background-color: #DEEBFF;
	border-radius: 50%;
}

.info img {
	width: 13px;
	height: 13px;
	background-color: white;
	border: 2px solid #F2F2F2;
	margin: 1em 1em 1em 0;
	padding: 6px 6px 6px 6px;
	border-radius: 50%;
	/* color: #0065FC; */
}

.info {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.info p {
	margin-right: 2rem;
	font-size: 1.5rem;
	overflow-wrap: break-word;
}

/* recherche FIN*/



/* Les plus populaires DEBUT */

#populaire_1 {
	background-color: #F2F2F2;
	/* margin: 0 0 0 0; */
	/* border: 2px solid orange; */
	/* width: 10%; */

}

#populaires_titre {
	margin-bottom: 1rem;
	/* margin-top: 2rem; */
	margin-right: 5rem;
	/* width: auto; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 1rem;
	background-color: #F2F2F2;
	/* border: 2px solid black; */
}

#populaires_titre h2 {
	font-size: 2rem;
	font-weight: bold;
	/* margin-right: 3rem; */
	margin-left: 1rem;
}


#populaires_titre img {
	width: 2rem;
	height: 2rem;
}

.conteneur_photos_texte_populaires {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: flex-start;
	border-radius: 20px 20px 20px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.texte {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	/* margin-right: 3rem; */
	margin-left: 1rem;
}

.texte h2 {
	margin: 1rem 0 0 0;
	font-size: 1.5rem;
	font-weight: bold;
}

.texte h3 {
	margin: 0.5rem 0 1rem 0;
	font-size: 1.5rem;
	font-weight: normal;

}


#populaires img {
	width: 2rem;
	height: 2rem;

}

.etoiles img {
	width: 1.2rem;
	height: 1.2rem;
	/* margin-top: 2em; */
}


.photo_mini {
	height: 127px;
	width: 134px;
	border-radius: 20px 0px 0px 20px;
	margin: 5px 5px 5px 5px;
}

/* Lien pour les cartes */
.fake_lien:visited {
	text-decoration: none;
	color: black;
}

.fake_lien:active {
	text-decoration: none;
	color: black;
}


.fake_lien {
	text-decoration: none;
	color: black;
	margin: auto;
	width: 100%;
}

/* Les plus populaires FIN */




/* Hébergements DEBUT */


.conteneur_photos_hebergement {
	width: 90%;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 1rem;
	/* margin: 1rem 0 1rem 0; */
	/* border: 2px solid black; */
	/* border: 2px solid red; */
	padding: 5px 5px 5px 5px;
	/* border: 2px solid red; */


}

#hebergements_titre {
	font-size: 2rem;
	font-weight: bold;
	/* border: 2px solid green; */
	margin-left: 2rem;
}

#afficher_plus {
	margin: 3rem 0 0 2rem;
	font-size: 1.5rem;
	font-weight: bold;
	/* border: 2px solid blue; */

}



.photo_mini_hebergements {
	display: flex;
	height: 127px;
	width: 100%;
	border-radius: 20px 20px 0px 0px;
	/* margin: 5px 5px 5px 5px; */
	/* border: 2px solid purple; */

}

/* Hébergements FIN*/

/* Activités */

.activites_compatibility {
	display: none;
}



.activites {
	font-family: Raleway;
	/* border: 2px solid black; */
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	/* border: 2px solid black; */



}

#activites_marseille_titre {
	margin-top: 5rem;
	font-size: 2rem;
	font-weight: bold;
	/* border: 2px solid red; */
	margin-left: 2rem;

}

.activites_1 {
	display: flex;
	flex-flow: column nowrap;
	/* justify-content: start; */
	align-items: baseline;
	/* border: 2px solid red; */

}

.activites_2 {
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	/* margin: 1rem 0 1rem 0; */
	/* border: 2px solid black; */
	/* border: 2px solid red; */
	/* padding: 5px 5px 5px 5px; */
	/* border: 2px solid orange; */

}


.activites_3 {

	width: auto;
	height: auto;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: stretch;
	/* border: 2px solid green; */

}

.activites_4 {

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	/* border: 2px solid green; */
	/* border: 2px solid blue; */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 1rem;



}

.activites_4 h2 {
	margin-left: 1em;
	margin-right: 1em;
	/* border: 2px solid blue; */

}


.photo_mini_activites {
	/* height: 127px;
	width: 340px;
	border-radius: 20px 20px 0px 0px;
	margin: 0 0 5px 0; */
	height: 13.5rem;
	width: 32.4rem;
	/* height: 127px; */
	border-radius: 20px 20px 0px 0px;

	object-fit: cover;
	object-position: 50% 50%;

	/* border: 5px solid black; */
	/* border: 2px solid pink; */


}

/* Activités Fin */



/* Footer */
footer {
	background-color: #F2F2F2;
	padding: 25px 5px 5px 25px;

}

.pied {
	margin-bottom: 25px;
}

.pied h2 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.pied h3 {
	font-size: 1.5em;
	font-weight: normal;

}

/* Footer FIN*/

/* desktop DEBUT */
@media only screen and (min-width: 1200px) {

	.activites_compatibility {
		display: none;
	}

	header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: baseline;
		/* margin-left: 2rem;
		margin-right: 2rem; */
		padding: 0 2rem 0 2rem;
	}

	body {
		overflow-x: hidden;
	}

	header #inscription {
		order: 4;
	}

	/* header:nth-child(2) {
		order: 4;
	}

	header:nth-child(3) {
		order: 2;
	}

	header:nth-child(4) {
		order: 3;
	} */

	.lien_border {
		font-size: 1.5rem;
		text-decoration: none;
		color: black;
		/* border: 5px solid green; */
		display: flex;
		justify-content: center;
		flex: 1;
		padding-bottom: 1em;
		border-top: 2px solid #F2F2F2;
		border-bottom: none;


	}

	.lien_border:link {
		text-decoration: none;
		color: black;
		/* border: 5px solid green; */


	}

	.lien_border:visited {
		text-decoration: none;
		color: black;
	}

	#activites_marseille_titre {
		margin-top: 5rem;
		font-size: 2rem;
		font-weight: bold;
		/* border: 2px solid red; */
		margin-left: 0;

	}


	.lien_border:hover {
		font-weight: bold;
		text-decoration: none;
		color: #0065FC;
		border-top: 2px solid #0065FC;
		border-bottom: none;
	}

	.lien_border:active {
		text-decoration: none;
	}

	#recherche {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		/* margin-left: 1rem; */
		/* max-width: 90%; */
		width: 100%;
		padding: 2rem 2rem 2rem 2rem;
	}

	.boite_pop_heb {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		/* align-items: baseline; */
		/* border: 2px solid red; */
		padding: 2rem 2rem 2rem 2rem;


	}

	#barre_recherche_et_logos {
		margin-bottom: 2rem;
	}


	#hebergements {
		/* border: 2px solid green; */
		display: flex;
		flex-flow: column nowrap;
		justify-content: start;
		align-items: flex-start;
		background-color: #F2F2F2;
		margin-right: 3rem;
		border-radius: 1rem 1rem 1rem 1rem;
		padding: 2rem 2rem 2rem 2rem;
	}



	#photos_hebergements_marseille {
		display: flex;
		flex-flow: row wrap;
		justify-content: start;
		align-items: flex-start;
		/* border: 2px solid black; */
		/* padding: 2rem 2rem 2rem 2rem; */

	}

	#afficher_plus {
		margin-bottom: 2rem;
	}

	#photos_populaires {
		/* border: 2px solid purple; */
		background-color: #F2F2F2;
		border-radius: 1rem 1rem 1rem 1rem;
	}

	#populaire_1 {
		background-color: #F2F2F2;
		border-radius: 1rem 1rem 1rem 1rem;
	}


	#photos_hebergements_marseille {
		max-width: 106rem;
	}

	.fake_lien_hebergement {
		width: 30%;
	}

	.texte h2 {
		min-width: 25rem;
	}

	.photo_mini_hebergements {
		width: 100%;
	}

	.conteneur_photos_hebergement {
		width: auto;
	}

	.info {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

	}

	#barre_recherche {
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;

	}

	#filtres {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
	}

	.photo_mini_activites {
		max-height: 40rem;
		min-width: 30rem;
	}

	.large {
		min-height: 39rem;
		max-width: 30rem;

	}

	.activites {
		width: 100%;
		/* height: auto; */
		/* margin: auto; */
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: stretch;
		padding: 2rem 2rem 2rem 2rem;
		flex: 1 1 auto;

	}

	.activites_1 {
		width: auto;
		height: auto;
		/* margin: auto; */
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		/* padding: 2rem 2rem 2rem 2rem; */
		flex: 1 1 auto;
	}

	.activites_2 {
		width: auto;
		height: auto;
		margin: auto;
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: flex-end;
		box-shadow: none;
		/* padding: 2rem 2rem 2rem 2rem; */
	}

	.activites_3 {
		width: auto;
		height: auto;
		margin: auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		align-items: center;
		flex: 1;
		/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
		border-radius: 20px 20px 20px 20px;
		padding: 2rem 2rem 2rem 0;
		margin-right: 2rem;
		margin-bottom: 2rem;

	}


	.activites_4 {
		border-radius: 20px 20px 20px 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		margin-top: 2rem;
	}

	.loupe {
		left: 25rem;
		position: absolute;
		width: 2rem;
		height: 2rem;
		padding: 17px 17px 17px 17px;
		background-color: #0065FC;
		border: 1px solid #0065FC;
		border-radius: 0 15px 15px 0;
	}


	#loupe_icone {
		display: none;
	}

	#loupe_texte {
		font-weight: bold;
		font-size: 1.7rem;
		display: flex;
		margin: auto;
		width: auto;
		color: #FFFFFF;

	}

	#filtres h2 {
		margin-right: 2rem;
	}


}

/* desktop FIN */



/* tablettes */
@media only screen and (min-width: 768px) and (max-width: 1199px) {


	.activites_compatibility {
		display: none;
	}


	header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: baseline;
		/* margin-left: 2rem;
		margin-right: 2rem; */
		padding: 0 2rem 0 2rem;
	}

	header #inscription {
		order: 4;
		font-size: 1.7rem;
	}

	/* header:nth-child(2) {
		order: 4;
	}

	header:nth-child(3) {
		order: 2;
	}

	header:nth-child(4) {
		order: 3;
	} */

	.lien_border {
		font-size: 1.7rem;
		text-decoration: none;
		color: black;
		/* border: 5px solid green; */
		display: flex;
		justify-content: center;
		flex: 1;
		padding-bottom: 1em;
		border-top: 2px solid #F2F2F2;
		border-bottom: none;


	}

	.lien_border:link {
		text-decoration: none;
		color: black;
		/* border: 5px solid green; */


	}

	.lien_border:visited {
		text-decoration: none;
		color: black;
	}

	#activites_marseille_titre {
		color: #0065FC;
		margin-top: 5rem;
		font-size: 4rem;
		font-weight: bold;
		/* border: 2px solid red; */
		margin-left: 0;

	}


	.lien_border:hover {
		font-weight: bold;
		text-decoration: none;
		color: #0065FC;
		border-top: 2px solid #0065FC;
		border-bottom: none;
	}

	.lien_border:active {
		text-decoration: none;
	}

	#recherche {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		/* margin-left: 1rem; */
		/* max-width: 90%; */
		width: 100%;
		padding: 2rem 2rem 2rem 2rem;
	}

	.boite_pop_heb {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		/* align-items: baseline; */
		/* border: 2px solid red; */
		padding: 2rem 2rem 2rem 2rem;


	}

	#barre_recherche_et_logos {
		margin-bottom: 2rem;
		/* display: none; */
		/* color: red; */
		/* min-height: 4.4rem; */
		/* font-size: 3rem; */
	}


	#hebergements {
		/* border: 2px solid green; */
		display: flex;
		flex-flow: column nowrap;
		justify-content: start;
		align-items: flex-start;
		background-color: #F2F2F2;
		margin-right: 3rem;
		border-radius: 1rem 1rem 1rem 1rem;
		padding: 2rem 2rem 2rem 2rem;
	}



	#photos_hebergements_marseille {
		display: flex;
		flex-flow: row wrap;
		justify-content: start;
		align-items: flex-start;
		/* border: 2px solid black; */
		/* padding: 2rem 2rem 2rem 2rem; */

	}

	#afficher_plus {
		margin-bottom: 2rem;
	}

	#photos_populaires {
		/* border: 2px solid purple; */
		background-color: #F2F2F2;
		border-radius: 1rem 1rem 1rem 1rem;
	}

	#populaire_1 {
		background-color: #F2F2F2;
		border-radius: 1rem 1rem 1rem 1rem;
	}


	#photos_hebergements_marseille {
		max-width: 106rem;
	}

	.fake_lien {
		width: auto;
	}

	.texte h2 {
		min-width: 25rem;
	}

	.photo_mini_hebergements {
		width: 100%;
	}

	.conteneur_photos_hebergement {
		width: auto;
	}

	.info {
		display: none;
		/* flex-direction: row;
		justify-content: flex-start; */
	}

	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

	}

	#barre_recherche {
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;

	}

	#filtres {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
	}

	.photo_mini_activites {
		max-height: 40rem;
		min-width: 30rem;
	}

	.large {
		min-height: 39rem;
		max-width: 30rem;

	}

	.activites {
		width: 100%;
		/* height: auto; */
		/* margin: auto; */
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		padding: 2rem 2rem 2rem 2rem;

	}

	.activites_1 {
		width: auto;
		height: auto;
		/* margin: auto; */
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		/* padding: 2rem 2rem 2rem 2rem; */
	}

	.activites_2 {
		width: auto;
		height: auto;
		margin: auto;
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: flex-end;
		box-shadow: none;
		/* padding: 2rem 2rem 2rem 2rem; */
	}

	.activites_3 {
		width: auto;
		height: auto;
		margin: auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		align-items: center;
		flex: 1;
		/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
		border-radius: 20px 20px 20px 20px;
		padding: 2rem 2rem 2rem 0;
		margin-right: 2rem;
		margin-bottom: 2rem;

	}


	.activites_4 {
		border-radius: 20px 20px 20px 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		margin-top: 2rem;
	}

	.loupe {
		left: 25rem;
		position: absolute;
		width: 2rem;
		height: 2rem;
		padding: 17px 17px 17px 17px;
		background-color: #0065FC;
		border: 1px solid #0065FC;
		border-radius: 0 15px 15px 0;
	}


	#loupe_icone {
		display: none;
	}

	#loupe_texte {
		font-weight: 900;
		font-size: 2.0rem;
		display: flex;
		margin: auto;
		width: auto;
		color: #FFFFFF;

	}

	#filtres h2 {
		margin-right: 2rem;
	}


}

/* Tablette FIN */


/* hebergement handling fake lien DEBUT */
@media only screen and (min-width: 1100px) and (max-width: 1360px) {

	.activites_compatibility {
		display: none;
	}

	.fake_lien_hebergement {
		width: 48%;

	}


	#photos_hebergements_marseille .fake_lien_hebergement:nth-child(odd) {
		margin-right: 2%;
	}

	.activites_compatibility {
		display: none;
	}
}

/* hebergement handling fake lien FIN */



/* Activites compatibilite grid DEBUT */
@media only screen and (min-width: 1200px) and (max-width: 1424px) {
	.activites {
		display: none;
	}

	.activites_compatibility {
		display: grid;
		grid-auto-flow: initial;
		gap: 4rem;
		grid-template-rows: repeat(2, 23rem);
		grid-template-columns: repeat(4, 1fr);
		padding: 2rem 2rem 2rem 2rem;
		/* grid-template-areas: "header header"; */

	}

	.activites_4_compatibility {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border-radius: 20px 20px 20px 20px;
		/* max-width: 300px; */
		/* max-height: 300px; */
		grid-row: span 1;

	}

	.small img {
		object-fit: cover;
		object-position: 50% 50%;
		max-width: 31rem;
		max-height: 17rem;
	}

	.large img{
		height: 45rem;
		object-fit: cover;
		object-position: 50% 50%;
		max-width: 30rem;
		/* max-height: auto; */
	}


	.fake_lien_compatibility {
		text-decoration: none;
		display: flex;
		flex-direction: column;

		/* border-radius: 20px 20px 20px 20px; */
	}

	.fake_lien_compatibility:visited {
		text-decoration: none;
		color: black;
	}

	.fake_lien_compatibility:active {
		text-decoration: none;
		color: black;
	}


	.fake_lien_compatibility h2 {
		margin: 1rem 1rem 1rem 1rem;
	}
	

	.photo_grid {
		border-radius: 20px 20px 0 0;
	}

	.large {
		/* grid-area: header header; */
		grid-row: span 2;
	}

	#act-1 {
		order: 0;
	}

	#act-2 {
		order: 1;
	}

	#act-3 {
		order: 2;
	}

	#act-4 {
		order: 1;
	}

	#act-5 {
		order: 1;
	}

	#act-6 {
		order: 5;
	}


}	


	/* Activites compatibilite grid FIN */