#bloc_page {
	width: auto;
}

/* Header */
header {
	width: auto;
	display: flex;
	flex-direction: column;

}

.titres {
	display: flex;
	flex-direction: row;/*  */
}

.liens {
	display: flex;
	flex-direction: row;
}

/* Header FIN */

/* Hébergements */
/* Hébergements FIN*/

/* Activités */
/* Activités Fin */

/* Footer */
/* Footer FIN*/