@font-face {
	font-family: "Raleway";
	/* src: url('fonts/Raleway/static/Raleway-Regular.ttf') format('truetype'); */
	src: url('fonts/Raleway/variable/Raleway-VariableFont_wght.ttf') format('woff2-variations');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Rancho";
	/* src: url('fonts/Raleway/static/Raleway-Regular.ttf') format('truetype'); */
	src: url('fonts/Rancho/static/Rancho-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



#bloc_page {
	width: auto;
	max-width: 90%;
	font-family: Raleway;
	display: flex;
	flex-flow: column wrap;

}

/* Header */

.header {
	display: flex;
	flex-flow: column wrap;
}




/* Header FIN */

/* .titres DEBUT*/

.titres {
	font-family: Raleway;
	/* width: auto; */
	/* position: static; */
	display: flex;
	flex-direction: row;
	margin-left: 1em;
	margin-right: 1em;
	justify-content: space-between;
	align-items: baseline;
	position: relative;

}

.titres h1 {
	font-family: Rancho;
	font-size: 2em;
	font-weight: bold;
	font-style: normal;
	text-decoration: wavy;
	color: #0065FC;
	position: relative;
}

.titres a {

	font-family: Raleway;
	font-size: 1em;
	position: static;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #0065FC;
	margin-right: 1em;
}

.titres a:link {
	text-decoration: none;
}

.titres a:hover {
	text-decoration: none;
	/* border: 5px solid pink; */

}

.titres a:visited {
	text-decoration: none;
}

.titres a:active {
	text-decoration: none;
}


/* .titres FIN*/



/* .liens DEBUT*/

.liens {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* border: 5px solid pink; */

}

.liens a {
	text-decoration: none;
	color: black;
	/* border: 5px solid green; */
	display: flex;
	justify-content: center;
	flex: 1;
	padding-bottom: 1em;
	border-bottom: 2px solid #F2F2F2;


}


.liens a:link {
	text-decoration: none;
	color: black;
	/* border: 5px solid green; */


}

.liens a:visited {
	text-decoration: none;
	color: black;
}

.liens a:hover {
	text-decoration: none;
	color: #0065FC;
	border-bottom: 2px solid #0065FC;
	/* border: 5px solid green; */
}

.liens a:active {
	text-decoration: none;
}

/* .liens FIN*/


/* Hébergements recherche DEBUT */
#hebergements_recherche {
	display: flex;
	flex-flow: column wrap;
	justify-content: baseline;

}




#recherche {
	margin-left: 10px;
	max-width: 90%;
}

#recherche h1 {
	font-weight: bold;
	font-size: 24px;
}

#recherche h2 {
	font-weight: normal;
	font-size: 1em;

}

#barre_recherche {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

#marqueur {
	width: 15px;
	height: 15px;
	padding: 19px 19px 19px 19px;
	background-color: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 40% 10% 10% 40%;

}

#barre_search {
	font-family: Raleway;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 15px 15px 15px;
	border-color: #F2F2F2;
}


#loupe {
	width: 20px;
	height: 20px;
	padding: 17px 17px 17px 17px;
	background-color: #0065FC;
	border: 1px solid #0065FC;
	border-radius: 30%;
}

#filtres {
	margin-left: 10px;
	max-width: 90%;
}

#filtres h1 {
	font-size: 1em;
}

.liste_filtres {
	display: flex;
	flex-flow: row wrap;
}

.elem_filtre {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	border: 2px solid #F2F2F2;
	/* padding: 3px 3px 3px 3px; */
	border-radius: 40px 40px 40px 40px;
}

.elem_filtre a {
	padding: 10px 15px 10px 15px;
	text-decoration: none;
	font-weight: bold;
}
.elem_filtre a:visited {
	text-decoration: none;
	color: black;
	font-weight: bold;

}


.liste_filtres img {
	width: 25px;
	height: 25px;
	border: 1px solid #DEEBFF;
	padding: 15px 15px 15px 15px;
	background-color: #DEEBFF;
	border-radius: 50%;
}

.info img {
	width: 13px;
	height: 13px;
	background-color: white;
	border: 2px solid #F2F2F2;
	margin: 1em 1em 1em 1em;
	padding: 6px 6px 6px 6px;
	border-radius: 50%;
	/* color: #0065FC; */
}

.info {
	display: flex;
	flex-flow: row nowrap;
	max-width: 90%;
	justify-content: baseline;
	align-items: center;
	/* overflow: unset; */
}

.info p{
	overflow-wrap: break-word;
}

/* Hébergements recherche FIN*/


/* Hébergements Marseille */
#hebergements_a_marseille {
	font-family: Raleway;
}

/* Hébergements FIN*/

/* Activités */
#activites {
	font-family: Raleway;
}

/* Activités Fin */

/* Footer */
footer{
	background-color: #F2F2F2;
	padding: 25px 5px 5px 25px;
}

.pied{
	margin-bottom: 25px;
}

.pied h1{
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 20px;
}

.pied h2{
	font-size: 0.9em;
	font-weight: normal;

}
/* Footer FIN*/


@media only screen and (min-width: 768px) {
	.titres h1 {
		color: red;
	}

	h1 {
		color: red;
	}
}